.Gallery {
    margin: 80px auto;
    width: 90%;
    text-align: center;
}

.gallery {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.gallery img {
    width: 23%;
    border-radius: 10px;
    transition: all 0.3s;
    cursor: pointer;
}

.gallery img:hover {
    transform: scale(1.1);
}

/* Media queries  */

@media (max-width: 850px) {
    .gallery {
        flex-wrap: wrap;
    }
    .gallery img {
        width: 48%;
        margin-bottom: 20px;
    }
}